<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Knowledge Learning{% endblock %}</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>

            {% if not app.user %}
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% else %}
                <li><a href="{{ path('app_shop') }}">Boutique</a></li>
                <li><a href="{{ path('app_cart') }}">Panier</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>

            {% endif %}
        </ul>
    </nav>
</header>


    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>

